{% extends 'base.html' %}

{% block title %}
    Default
{% endblock %}

{% block body %}
    <a href="{% url 'book' %}" style="margin-left: 50px; font-size: 24px; font-weight: bold;">Books</a>
    <a href="{% url 'office' %}" style="margin-left: 200px; font-size: 24px; font-weight: bold;">Offices</a>
    <a href="{% url 'room' %}" style="margin-left: 50px; font-size: 24px; font-weight: bold;">Rooms</a>
    <a href="{% url 'worker' %}" style="margin-left: 50px; font-size: 24px; font-weight: bold;">Workers</a>
{% endblock %}