{% extends 'base.html' %}

{% block title %}
    Office
{% endblock %}

{% block body %}
<a href="{% url 'office' %}" style="margin-left: 10px; font-size: 24px; font-weight: bold;">Back</a>
<div style="display: flex; justify-content: center; padding-top: 100px;">
    <form method="POST" class="post-form">
        Current number: {{ office.number }}<br>
        Current address: {{ office.address }}<br><br>
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="save btn btn-default">Edit</button>
    </form>
</div>
{% endblock %}