{% extends 'base.html' %}

{% block title %}
    Room
{% endblock %}

{% block body %}
{% if msg %}
<script>
    alert("Enter correct information!")
</script>
{% endif %}
<a href="{% url 'room' %}" style="margin-left: 10px; font-size: 24px; font-weight: bold;">Back</a>
<div style="display: flex; justify-content: center; padding-top: 100px;">
    <form method="POST" class="post-form">
        Current office number: {{ room.office.number }}<br>
        Current room number: {{ room.number }}<br>
        Current sits: {{ room.number_of_sits }}<br><br>
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="save btn btn-default">Edit</button>
    </form>
</div>
{% endblock %}