{% extends 'base.html' %}

{% block title %}
    Worker
{% endblock %}

{% block body %}
<a href="{% url 'default' %}" style="margin-left: 10px; font-size: 24px; font-weight: bold;">Back</a>
<a href="{% url 'api_workers' %}" style="margin-left: 100px; font-size: 24px; font-weight: bold;">API</a>
<div style="display: flex; justify-content: center; padding-top: 100px;">
    <form method="POST" class="post-form">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="save btn btn-default">Add</button>
    </form>
</div>
<div style="display: block; padding-top: 150px; text-align: center;">
    {% for worker in workers %}
        <br><b>{{ worker }}</b><br>
        {% if worker.booked_history.all %}
            {% for x in worker.booked_history.all %}
                {{ x }} <a href="{% url 'worker_edit' worker.id %}">(edit)</a><br>
            {% endfor %}
        {% else %}
        No books yet.<br>
        {% endif %}
       
    {% endfor %}
</div>
{% endblock %}